## Imports

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Datos_de_la_Tasa_compensatoria_por_Caza_de_Fauna_Silvestre.csv")
df.head()

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
0,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
1,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
2,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
3,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
4,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00

## Value Counts

In [242]:
df["Autoridad Ambiental"].value_counts()

Autoridad Ambiental
CORTOLIMA       603
CARDER          492
CORPOCALDAS     347
PNN              53
CRQ              14
CORPOBOYACA      10
CORPOGUAJIRA      5
SDA               2
Name: count, dtype: int64

In [243]:
df["NOMBRE/RAZÓN SOCIAL"].value_counts()

NOMBRE/RAZÓN SOCIAL
Transmisora Colombiana de Energía S.A.S E.S.P    403
UNVERSIDAD DEL TOLIMA                            301
CESAR AUGUSTO DUQUE CASTRILLON                   185
E-LECTRICA S.A.S                                  89
Proicom S.A.S                                     61
                                                ...
Ana Maria Millan                                   1
Juan Alberto Escobar                               1
Silvia Restrepo Restrepo                           1
Juan Felipe Girlado                                1
Universidad Industrial de Santander                1
Name: count, Length: 137, dtype: int64

In [244]:
df["TIPO DE CAZA"].value_counts()

TIPO DE CAZA
Científica estudios ambientales    1370
Científica no comercial              90
Comercial                            65
Fomento                               1
Name: count, dtype: int64

In [245]:
df["ESPECIE O GRUPO TAXONÓMICO"].value_counts()

ESPECIE O GRUPO TAXONÓMICO
Vertebrado                 327
Invertebrado                20
Amazona ochrocephala        18
Brotogeris jugularis        14
Sicalis flaveola            10
                          ...
Sachatamia punctulata        1
Pristimantis sp1             1
Anolis cf. tolimensis        1
Craugastor metriosistus      1
Riama sp.                    1
Name: count, Length: 809, dtype: int64

In [246]:
df["No. INDIVIDUOS y/o MUESTRAS APROBADOS"].value_counts()

No. INDIVIDUOS y/o MUESTRAS APROBADOS
No registra                                                            433
1                                                                      159
no se permitio colecta definitiva                                       95
2                                                                       91
10                                                                      47
3                                                                       47
4                                                                       40
No especifico                                                           31
5                                                                       24
máx. 2 para captura definitiva                                          21
7                                                                       20
6                                                                       18
No especifica                                                           17
8                                                                       11
9                                                                        5
N.A                                                                      5
11                                                                       4
16                                                                       3
13                                                                       3
1+1                                                                      2
44                                                                       2
12                                                                       2
31                                                                       2
25                                                                       2
18                                                                       2
No reporta                                                               2
22                                                                       2
5 individuos de cada especie                                             1
166                                                                      1
20 para captura definitiva                                               1
0                                                                        1
23                                                                       1
14                                                                       1
28                                                                       1
20                                                                       1
19                                                                       1
máx 2 para captura definitiva                                            1
135                                                                      1
36                                                                       1
2797                                                                     1
43                                                                       1
85                                                                       1
53                                                                       1
En 1 a 10 individuos por sp.                                             1
34                                                                       1
92                                                                       1
220                                                                      1
87                                                                       1
603                                                                      1
40                                                                       1
178                                                                      1
21                                                                       1
453                                                                      1
113                                                                      1
<50 por sp.                                                              1
Colecta de 10 larvas y cuatro (04) adultos por cada día de muestreo      1
17                                                                       1
33                                                                       1
Name: count, dtype: int64

In [247]:
df["DEPARTAMENTO"].value_counts()

DEPARTAMENTO
Tolima             603
Risaralda          495
Caldas             347
Valle del Cauca     16
Quindío             14
Boyacá              12
Cauca               10
No registra          9
La Guajira           7
Cundinamarca         4
Magdalena            3
Chocó                2
Santander            1
Bolívar              1
Casanare             1
Huila                1
Name: count, dtype: int64

In [248]:
df["ESTADO DE CONSERVACIÓN DE LA ESPECIE"].value_counts()

ESTADO DE CONSERVACIÓN DE LA ESPECIE
Preocupación menor (LC)                                  878
Datos insuficientes (DD) o especies No evaluadas (NE)    179
No registra                                               55
Vulnerable (VU)                                           12
En Peligro (EN) o En Peligro Crítico (CR)                  7
Casi amenazada (NT)                                        6
E                                                          6
Name: count, dtype: int64

In [249]:
df["No. ESPECÍMENES O MUESTRAS (Es)"].value_counts()

No. ESPECÍMENES O MUESTRAS (Es)
1      576
2      265
3      113
4       94
5       79
      ...
533      1
56       1
63       1
54       1
28       1
Name: count, Length: 76, dtype: int64

In [250]:
df["TARIFA MÍNIMA (TM)"].value_counts()

TARIFA MÍNIMA (TM)
$    11,318.00    535
$    10,903.00    348
$    11,748.00    184
$    10,152.00    170
$    10,567.00    152
$    9,600.00      87
$    - 0           50
Name: count, dtype: int64

In [251]:
df["MONTO A PAGAR (MP)"].value_counts()

MONTO A PAGAR (MP)
$    - 0           385
$    5,432.64       90
$    5,233.00       72
$    5,639.00       72
$    10,865.28      65
                  ...
$    348,483.09      1
$    312,660.96      1
$    88,534.89       1
$    216,289.92      1
$    31,557.00       1
Name: count, Length: 203, dtype: int64

In [252]:
df["RECAUDO"].value_counts()

RECAUDO
$    - 0           559
$    5,432.64       90
$    5,233.00       72
$    10,865.28      65
$    981.00         57
                  ...
$    118,420.00      1
$    108,653.00      1
$    104,669.00      1
$    97,788.00       1
$    31,557.00       1
Name: count, Length: 149, dtype: int64

In [253]:
df["RECLAMACIONES"].value_counts()

RECLAMACIONES
No             1072
No registra     452
Si                2
Name: count, dtype: int64

In [254]:
df["MUNICIPIO"].value_counts()

MUNICIPIO
La Virginia                                                                                                                                                                        403
Dolores, Natagaima, Prado, Purificación, Cunday,Cunday, Venadillo, Alvarado, Piedras, Ortega, Espinal, Guamo, Armero Guayabal, Mariquita, Roncesvalles, Coello, San Luis, Prado    301
MANIZALES                                                                                                                                                                          114
Santuario                                                                                                                                                                           89
Coello                                                                                                                                                                              80
No registra                                                                                                                                                                         74
PENSILVANIA, MANZANARES, SAMANA, NORCASIA Y MARQUETALIA                                                                                                                             61
Rovira                                                                                                                                                                              40
VITERBO Y BELALCAZAR                                                                                                                                                                40
San Luis                                                                                                                                                                            35
SUPIA                                                                                                                                                                               30
ANSERMA, BENALCÁZAR, RISARALDA, SAN JOSÉ Y VITERBO                                                                                                                                  29
Ambalema, Armero Guayabal, Casabianca, Fálan, Fresno, Herveo, Lérida y Villahermosa                                                                                                 28
PENSILVANIA                                                                                                                                                                         26
MANIZALES Y CHINCHINA                                                                                                                                                               23
Melgar                                                                                                                                                                              22
MARMATO                                                                                                                                                                             22
Alvarado                                                                                                                                                                            18
Armero-Guayabal                                                                                                                                                                     15
Guapi                                                                                                                                                                               10
GENOVA                                                                                                                                                                              10
Buenaventura                                                                                                                                                                         7
Cali                                                                                                                                                                                 3
Cali\nPueblo Rico                                                                                                                                                                    3
NEIRA                                                                                                                                                                                2
cordoba                                                                                                                                                                              2
Samacá                                                                                                                                                                               2
Arcabuco, Combita, Samacá                                                                                                                                                            2
SALENTO-FILANDIA-GENOVA                                                                                                                                                              2
Bogotá D.C.                                                                                                                                                                          2
Fonseca, Distracción, Barrancas, Hatonuevo y Albania, y Puerto Bolívar                                                                                                               2
Gameza, Mongua, Mongui, Otanche, Paz de Río, Puerto Boyacá, Socha, Socotá, Sogamoso, Tasco, Topaga                                                                                   1
Fómeque                                                                                                                                                                              1
Libano                                                                                                                                                                               1
Tunja,Soraca,Combita,Motavita,Sora,Chiquiza,Cucaita,Sachica,Samaca,Raquira,Sutamarchan,Tinjaca.                                                                                      1
1. Riohacha\n2. Sitio Nuevo                                                                                                                                                          1
Acevedo                                                                                                                                                                              1
1. Río Sucio\n2. El Tambo                                                                                                                                                            1
Cartagena                                                                                                                                                                            1
1. Cali\n2. Palestina                                                                                                                                                                1
Nuqui                                                                                                                                                                                1
Floresta, Santa Rosa de Viterbo                                                                                                                                                      1
Santa Marta\nCartagena                                                                                                                                                               1
Dagua \nBuenaventura                                                                                                                                                                 1
Tunja                                                                                                                                                                                1
Santa Marta                                                                                                                                                                          1
Maicao y Uribia                                                                                                                                                                      1
Puerto Rico                                                                                                                                                                          1
El Tambo                                                                                                                                                                             1
Alto Baudo                                                                                                                                                                           1
Dagua                                                                                                                                                                                1
Riohacha                                                                                                                                                                             1
Encino\nFomeque (cund)\nChiquiza (Boy)                                                                                                                                               1
Santa Rosa Cabal                                                                                                                                                                     1
Socotá\nFomeque (Cund)                                                                                                                                                               1
Santa Marta\nSan Juan Nepomuceno (Bolivar)                                                                                                                                           1
Fomeque                                                                                                                                                                              1
Jamundi                                                                                                                                                                              1
Maicao                                                                                                                                                                               1
Encino\nDuitama                                                                                                                                                                      1
Name: count, dtype: int64

## Tidy Location

In [255]:
df_location = df[["DEPARTAMENTO","MUNICIPIO"]]
df_location

      DEPARTAMENTO                                          MUNICIPIO
0           Tolima  Dolores, Natagaima, Prado, Purificación, Cunda...
1           Tolima  Dolores, Natagaima, Prado, Purificación, Cunda...
2           Tolima  Dolores, Natagaima, Prado, Purificación, Cunda...
3           Tolima  Dolores, Natagaima, Prado, Purificación, Cunda...
4           Tolima  Dolores, Natagaima, Prado, Purificación, Cunda...
...            ...                                                ...
1521        Tolima                                        No registra
1522        Tolima                                        No registra
1523        Tolima                                        No registra
1524  Cundinamarca                                        Bogotá D.C.
1525  Cundinamarca                                        Bogotá D.C.

[1526 rows x 2 columns]

In [256]:
df1 = df_location.drop_duplicates()["DEPARTAMENTO"]
df1

0             Tolima
107           Tolima
114           Tolima
193           Tolima
340           Tolima
            ...
983            Huila
985       La Guajira
990        Risaralda
1393       Risaralda
1524    Cundinamarca
Name: DEPARTAMENTO, Length: 66, dtype: object

In [257]:
df2 = df_location.drop_duplicates()["MUNICIPIO"]
# .str.split(', ')
df2
# df3 = df2.explode("MUNICIPIO", ignore_index=True)

0       Dolores, Natagaima, Prado, Purificación, Cunda...
107                                       Armero-Guayabal
114                                                Rovira
193                                                Coello
340     Ambalema, Armero Guayabal, Casabianca, Fálan, ...
                              ...
983                                               Acevedo
985                           1. Riohacha\n2. Sitio Nuevo
990                                           La Virginia
1393                                            Santuario
1524                                          Bogotá D.C.
Name: MUNICIPIO, Length: 66, dtype: object

In [258]:
df3 = df2.str.split(', ')
df4 = df3.explode()
df4

0                           Dolores
0                         Natagaima
0                             Prado
0                      Purificación
0                     Cunday,Cunday
                   ...
983                         Acevedo
985     1. Riohacha\n2. Sitio Nuevo
990                     La Virginia
1393                      Santuario
1524                    Bogotá D.C.
Name: MUNICIPIO, Length: 111, dtype: object

In [259]:
merged_df = df4.merge(df1, left_index=True, right_index=True, how='left')

AttributeError: 'Series' object has no attribute 'merge'

In [260]:
df_merged = pd.concat([df1, df4], axis=1)
df_merged

ValueError: cannot reindex on an axis with duplicate labels

In [5]:
df_copy = df.copy()
df_copy["ESPECIE O GRUPO TAXONÓMICO"]

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

## Tidy Species

In [262]:
species = df_copy.copy()
species

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
0,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
1,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
2,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
3,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
4,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,2020,CORTOLIMA,Martha Ortiz Prada,Persona natural,NaN,Infractor,SAN-01716,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1522,2020,CORTOLIMA,Fernando Aurelio Acevedo Marin,Persona natural,NaN,Infractor,SAN-01720,No registra,0.0,Comercial,...,1.0,3.840,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 74,113.00",No registra,No registra,$ - 0
1523,2020,CORTOLIMA,Aura Maria Serrano Cuadrado,Persona natural,NaN,Infractor,SAN-02011,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1524,2021,SDA,Universidad Militar Nueva Granada,800225340-8,No reporta,Permiso / ANLA,Resolución No. 1271,2014-10-23T00:00:00.000,120.0,Científica no comercial,...,1.0,0.015,4,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,331.00",No,No registra,"$ 31,331.00"
1525,2022,SDA,Universidad Industrial de Santander,890201213-4,No reporta,Permiso / ANLA,Resolución No. 47,2015-01-22T00:00:00.000,120.0,Científica no comercial,...,1.0,0.080,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,557.00",No,No registra,"$ 31,557.00"

In [263]:
species["ESPECIE O GRUPO TAXONÓMICO"]

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [264]:
species["ESPECIE O GRUPO TAXONÓMICO"] = species["ESPECIE O GRUPO TAXONÓMICO"].str.strip()
(species["ESPECIE O GRUPO TAXONÓMICO"])
# species1 = species.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
# species1

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [265]:
import re

In [266]:
p_parentheses = r'\([^()]*\)'

In [267]:
species["ESPECIE O GRUPO TAXONÓMICO"] = species["ESPECIE O GRUPO TAXONÓMICO"].str.replace(p_parentheses,'',regex=True)
(species["ESPECIE O GRUPO TAXONÓMICO"])
# species1 = species.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
# species1

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [268]:
species["ESPECIE O GRUPO TAXONÓMICO"] = species["ESPECIE O GRUPO TAXONÓMICO"].str.replace("Psocoptera Fam:",'',regex=True)
(species["ESPECIE O GRUPO TAXONÓMICO"])

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [269]:
species["ESPECIE O GRUPO TAXONÓMICO"] = species["ESPECIE O GRUPO TAXONÓMICO"].str.replace("Psocidia-Psocoptera Fam:",'',regex=True)
(species["ESPECIE O GRUPO TAXONÓMICO"])

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [270]:
species["ESPECIE O GRUPO TAXONÓMICO"] = species["ESPECIE O GRUPO TAXONÓMICO"].str.strip()
(species["ESPECIE O GRUPO TAXONÓMICO"])
# species1 = species.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
# species1

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1521           Amazona ochropcephala-Brotogeris jugularis
1522                                            Amazon sp
1523                                 Amazona ochrocephala
1524    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1525                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [271]:
species["ESPECIE O GRUPO TAXONÓMICO"] = species["ESPECIE O GRUPO TAXONÓMICO"].str.split("\n")
# (species["ESPECIE O GRUPO TAXONÓMICO"])
species1 = species.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
species1

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
0,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
1,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
2,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
3,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
4,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566,2020,CORTOLIMA,Martha Ortiz Prada,Persona natural,NaN,Infractor,SAN-01716,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1567,2020,CORTOLIMA,Fernando Aurelio Acevedo Marin,Persona natural,NaN,Infractor,SAN-01720,No registra,0.0,Comercial,...,1.0,3.840,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 74,113.00",No registra,No registra,$ - 0
1568,2020,CORTOLIMA,Aura Maria Serrano Cuadrado,Persona natural,NaN,Infractor,SAN-02011,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1569,2021,SDA,Universidad Militar Nueva Granada,800225340-8,No reporta,Permiso / ANLA,Resolución No. 1271,2014-10-23T00:00:00.000,120.0,Científica no comercial,...,1.0,0.015,4,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,331.00",No,No registra,"$ 31,331.00"
1570,2022,SDA,Universidad Industrial de Santander,890201213-4,No reporta,Permiso / ANLA,Resolución No. 47,2015-01-22T00:00:00.000,120.0,Científica no comercial,...,1.0,0.080,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,557.00",No,No registra,"$ 31,557.00"

In [272]:
species1["ESPECIE O GRUPO TAXONÓMICO"]

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1566           Amazona ochropcephala-Brotogeris jugularis
1567                                            Amazon sp
1568                                 Amazona ochrocephala
1569    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1570                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1571, dtype: object

In [273]:
species1["ESPECIE O GRUPO TAXONÓMICO"] = species1["ESPECIE O GRUPO TAXONÓMICO"].str.split('-')
# (species["ESPECIE O GRUPO TAXONÓMICO"])
species2 = species1.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
species2

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
0,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
1,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
2,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
3,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
4,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,2020,CORTOLIMA,Martha Ortiz Prada,Persona natural,NaN,Infractor,SAN-01716,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1583,2020,CORTOLIMA,Fernando Aurelio Acevedo Marin,Persona natural,NaN,Infractor,SAN-01720,No registra,0.0,Comercial,...,1.0,3.840,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 74,113.00",No registra,No registra,$ - 0
1584,2020,CORTOLIMA,Aura Maria Serrano Cuadrado,Persona natural,NaN,Infractor,SAN-02011,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1585,2021,SDA,Universidad Militar Nueva Granada,800225340-8,No reporta,Permiso / ANLA,Resolución No. 1271,2014-10-23T00:00:00.000,120.0,Científica no comercial,...,1.0,0.015,4,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,331.00",No,No registra,"$ 31,331.00"
1586,2022,SDA,Universidad Industrial de Santander,890201213-4,No reporta,Permiso / ANLA,Resolución No. 47,2015-01-22T00:00:00.000,120.0,Científica no comercial,...,1.0,0.080,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,557.00",No,No registra,"$ 31,557.00"

In [274]:
species2["ESPECIE O GRUPO TAXONÓMICO"]

0                                       Panthiades bitias
1                                         Actinote anteas
2                                        Altinote dicaeus
3                              Catasticta tomyris tomyris
4                                           Colias dimera
                              ...
1582                                 Brotogeris jugularis
1583                                            Amazon sp
1584                                 Amazona ochrocephala
1585    Exitianus atratus, Dalbulus sp., Haldorus sp.,...
1586                                            Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1587, dtype: object

In [275]:
species2["ESPECIE O GRUPO TAXONÓMICO"] = species2["ESPECIE O GRUPO TAXONÓMICO"].str.split(', ')
# (species["ESPECIE O GRUPO TAXONÓMICO"])
species3 = species2.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
# species3
species3["ESPECIE O GRUPO TAXONÓMICO"]

0                Panthiades bitias
1                  Actinote anteas
2                 Altinote dicaeus
3       Catasticta tomyris tomyris
4                    Colias dimera
                   ...
1640             Exitianus atratus
1641                  Dalbulus sp.
1642                  Haldorus sp.
1643              Cicadellidae sp.
1644                     Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1645, dtype: object

In [276]:
species3["ESPECIE O GRUPO TAXONÓMICO"] = species3["ESPECIE O GRUPO TAXONÓMICO"].str.split('y ')
# (species["ESPECIE O GRUPO TAXONÓMICO"])
species4 = species3.explode("ESPECIE O GRUPO TAXONÓMICO", ignore_index=True)
# species4
species4["ESPECIE O GRUPO TAXONÓMICO"]

0                Panthiades bitias
1                  Actinote anteas
2                 Altinote dicaeus
3       Catasticta tomyris tomyris
4                    Colias dimera
                   ...
1652             Exitianus atratus
1653                  Dalbulus sp.
1654                  Haldorus sp.
1655              Cicadellidae sp.
1656                     Riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1657, dtype: object

## =============== ESPECIES SOLICITADAS ===============

In [277]:
species4.to_csv('species4.csv')

### ==============================

Con species4 puedo 
- contar cuántas muestras piden de cada especies.
- ver cuáles especies permiten más
- ver cuáles especies niegan más
- ver cuáles especies recaudan más
- ver si el recaudo de las especies es suficiente.

In [278]:
species4["ESPECIE O GRUPO TAXONÓMICO"].value_counts()

ESPECIE O GRUPO TAXONÓMICO
Vertebrado                    327
Invertebrado                   20
Amazona ochrocephala           18
Brotogeris jugularis           15
Sicalis flaveola               10
                             ...
Micronycteris                   1
Andinobates dorisswansonae      1
Bentos                          1
Creagrutus affinis              1
Riama sp.                       1
Name: count, Length: 906, dtype: int64

In [279]:
species4["ESPECIE O GRUPO TAXONÓMICO"] = species4["ESPECIE O GRUPO TAXONÓMICO"].str.strip()
species4.head()

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
0,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
1,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
2,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
3,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
4,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.09,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00

In [280]:
species4["ESPECIE O GRUPO TAXONÓMICO"] = species4["ESPECIE O GRUPO TAXONÓMICO"].str.lower()
species4["ESPECIE O GRUPO TAXONÓMICO"].head()

0             panthiades bitias
1               actinote anteas
2              altinote dicaeus
3    catasticta tomyris tomyris
4                 colias dimera
Name: ESPECIE O GRUPO TAXONÓMICO, dtype: object

In [281]:
species4["ESPECIE O GRUPO TAXONÓMICO"] = species4["ESPECIE O GRUPO TAXONÓMICO"].str.replace("  ",' ',regex=True)
species4["ESPECIE O GRUPO TAXONÓMICO"] = species4["ESPECIE O GRUPO TAXONÓMICO"].str.replace("vertebrados",'vertebrado',regex=True)
species4["ESPECIE O GRUPO TAXONÓMICO"] = species4["ESPECIE O GRUPO TAXONÓMICO"].str.replace("invertebrados",'invertebrado',regex=True)

## Species requested

In [282]:
species4["ESPECIE O GRUPO TAXONÓMICO"].value_counts()

ESPECIE O GRUPO TAXONÓMICO
vertebrado                    343
invertebrado                   31
amazona ochrocephala           18
brotogeris jugularis           15
sicalis flaveola               10
                             ...
myiozetetes similis             1
xenopipo atronitens             1
micronycteris                   1
andinobates dorisswansonae      1
riama sp.                       1
Name: count, Length: 874, dtype: int64

In [283]:
species_count = species4["ESPECIE O GRUPO TAXONÓMICO"].value_counts()
species_count_df = pd.DataFrame(species_count).reset_index()
species_count_df.columns = ['species','requests']
species_count_df.to_csv('species_requests.csv',index=False)

## Species individuals

In [284]:
individuals_requested = species4.groupby("ESPECIE O GRUPO TAXONÓMICO")["No. INDIVIDUOS y/o MUESTRAS APROBADOS"].sum().reset_index()
individuals_requested

,ESPECIE O GRUPO TAXONÓMICO,No. INDIVIDUOS y/o MUESTRAS APROBADOS
0,04 especímenes por morfoespecie de insectos,No especifico
1,15 cascaras por especie,No especifico
2,40 especímenes por especie por área protegida,No especifico
3,accipiter striatus,2
4,actinote anteas,No registra
...,...,...
869,zenaida auriculata,No registraNo registraNo registra101
870,zimmerius chrysops,No registra23
871,zonotrichia capensis,No registraNo registra109
872,zooplacton,No especifico
873,zooplancton,No registraNo registraNo especifica20

In [285]:
def print_integer_or_zero(str_number):
    try:
        int_number = int(str_number)
        print(int_number)
    except ValueError:
        print(0)

In [286]:
sum = 0
for row in species4["No. INDIVIDUOS y/o MUESTRAS APROBADOS"]:
    # if int(row) != ValueError:
    #     sum += int(row)
    # else:
    #     sum += 0
    try:
        individual = int(row)
        sum += individual
    except ValueError:
        sum += 0
    # print(individual)
#     sum += individual
sum

7377

In [287]:
sum = 0
for row in species4["No. ESPECÍMENES O MUESTRAS (Es)"]:

    try:
        individual = int(row)
        sum += individual
    except ValueError:
        sum += 0

sum

24074

In [288]:
species5 = species4.copy()

In [289]:
for row in species5["No. INDIVIDUOS y/o MUESTRAS APROBADOS"]:
    # if int(row) != ValueError:
    #     sum += int(row)
    # else:
    #     sum += 0
    try:
        individual = int(row)
        row == individual
    except ValueError:
        row == 0
    # print(individual)
#     sum += individual
species5["No. INDIVIDUOS y/o MUESTRAS APROBADOS"]

0       No registra
1       No registra
2       No registra
3       No registra
4       No registra
           ...
1652     No reporta
1653     No reporta
1654     No reporta
1655     No reporta
1656     No reporta
Name: No. INDIVIDUOS y/o MUESTRAS APROBADOS, Length: 1657, dtype: object

In [290]:
species5["No. INDIVIDUOS y/o MUESTRAS APROBADOS"] = pd.to_numeric(species5["No. INDIVIDUOS y/o MUESTRAS APROBADOS"],errors='coerce').fillna(0).astype(int)
species5["No. INDIVIDUOS y/o MUESTRAS APROBADOS"]

0       0
1       0
2       0
3       0
4       0
       ..
1652    0
1653    0
1654    0
1655    0
1656    0
Name: No. INDIVIDUOS y/o MUESTRAS APROBADOS, Length: 1657, dtype: int64

In [291]:
individuals_approved = species5.groupby("ESPECIE O GRUPO TAXONÓMICO")["No. INDIVIDUOS y/o MUESTRAS APROBADOS"].sum().reset_index()
individuals_approved.sort_values(by="No. INDIVIDUOS y/o MUESTRAS APROBADOS",ascending=False).head(7)

    ESPECIE O GRUPO TAXONÓMICO  No. INDIVIDUOS y/o MUESTRAS APROBADOS
402               invertebrado                                   4552
857                 vertebrado                                    207
249      dendrobates truncatus                                     92
155     carollia perspicillata                                     91
433    lithobates catesbeianus                                     85
348      gonatodes albogularis                                     53
647     pristimantis permixtus                                     44

In [292]:
species5["No. ESPECÍMENES O MUESTRAS (Es)"] = pd.to_numeric(species5["No. ESPECÍMENES O MUESTRAS (Es)"],errors='coerce').fillna(0).astype(int)
species5["No. ESPECÍMENES O MUESTRAS (Es)"]

0       1
1       1
2       1
3       1
4       1
       ..
1652    4
1653    4
1654    4
1655    4
1656    1
Name: No. ESPECÍMENES O MUESTRAS (Es), Length: 1657, dtype: int64

In [293]:
individuals_hunted = species5.groupby("ESPECIE O GRUPO TAXONÓMICO")["No. ESPECÍMENES O MUESTRAS (Es)"].sum().reset_index()
individuals_hunted.sort_values(by="No. ESPECÍMENES O MUESTRAS (Es)",ascending=False).head(7)

         ESPECIE O GRUPO TAXONÓMICO  No. ESPECÍMENES O MUESTRAS (Es)
402                    invertebrado                            13586
857                      vertebrado                             2908
141              calosoma alternans                              302
718                 serinus canaria                              218
669                        psocidia                              198
670  psocoptera fam : ptiloneuridae                              198
297                     epipsocidae                              198

## Specimens

In [294]:
specimens = df_copy.copy()

In [295]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.lower()

specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.strip()

In [296]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace(p_parentheses,'',regex=True)

In [297]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace("  ",' ',regex=True)

In [298]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace("psocoptera fam:",'',regex=True)

In [299]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace("psocoptera fam :",'',regex=True)

In [300]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace("psocidia-psocoptera fam:",'',regex=True)

In [301]:
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace("vertebrados",'vertebrado',regex=True)
specimens["ESPECIE O GRUPO TAXONÓMICO"] = specimens["ESPECIE O GRUPO TAXONÓMICO"].str.replace("invertebrados",'invertebrado',regex=True)

In [302]:
(specimens["ESPECIE O GRUPO TAXONÓMICO"])

0                                       panthiades bitias
1                                         actinote anteas
2                                        altinote dicaeus
3                              catasticta tomyris tomyris
4                                           colias dimera
                              ...
1521           amazona ochropcephala-brotogeris jugularis
1522                                            amazon sp
1523                                 amazona ochrocephala
1524    exitianus atratus, dalbulus sp., haldorus sp.,...
1525                                            riama sp.
Name: ESPECIE O GRUPO TAXONÓMICO, Length: 1526, dtype: object

In [303]:
specimens["No. INDIVIDUOS y/o MUESTRAS APROBADOS"] = pd.to_numeric(specimens["No. INDIVIDUOS y/o MUESTRAS APROBADOS"],errors='coerce').fillna(0).astype(int)
specimens["No. INDIVIDUOS y/o MUESTRAS APROBADOS"]

0       0
1       0
2       0
3       0
4       0
       ..
1521    0
1522    1
1523    2
1524    0
1525    0
Name: No. INDIVIDUOS y/o MUESTRAS APROBADOS, Length: 1526, dtype: int64

In [304]:
specimens["No. ESPECÍMENES O MUESTRAS (Es)"] = pd.to_numeric(specimens["No. ESPECÍMENES O MUESTRAS (Es)"],errors='coerce').fillna(0).astype(int)
specimens["No. ESPECÍMENES O MUESTRAS (Es)"]

0       1
1       1
2       1
3       1
4       1
       ..
1521    2
1522    1
1523    2
1524    4
1525    1
Name: No. ESPECÍMENES O MUESTRAS (Es), Length: 1526, dtype: int64

## =============== ESPECÍMINES APROBADOS ===============

In [305]:
specimens_approved = specimens.groupby("ESPECIE O GRUPO TAXONÓMICO")["No. INDIVIDUOS y/o MUESTRAS APROBADOS"].sum().reset_index()
specimens_approved.sort_values(by="No. INDIVIDUOS y/o MUESTRAS APROBADOS",ascending=False).head(7)

    ESPECIE O GRUPO TAXONÓMICO  No. INDIVIDUOS y/o MUESTRAS APROBADOS
357               invertebrado                                   4552
776                 vertebrado                                    207
224      dendrobates truncatus                                     92
140     carollia perspicillata                                     91
385    lithobates catesbeianus                                     85
312      gonatodes albogularis                                     53
595    pristimantis uranobates                                     44

## =============== ESPECÍMENES RECOLECTADOS ===============

In [306]:
specimens_hunted = specimens.groupby("ESPECIE O GRUPO TAXONÓMICO")["No. ESPECÍMENES O MUESTRAS (Es)"].sum().reset_index()
specimens_hunted.sort_values(by="No. ESPECÍMENES O MUESTRAS (Es)",ascending=False).head(7)

,ESPECIE O GRUPO TAXONÓMICO,No. ESPECÍMENES O MUESTRAS (Es)
357,invertebrado,13586
776,vertebrado,2908
127,calosoma alternans,302
647,serinus canaria,218
0,psocidia- lachesillidae\n ptiloneuridae\nepip...,198
140,carollia perspicillata,130
224,dendrobates truncatus,122

### ==============================

In [308]:
specimens_count = specimens["ESPECIE O GRUPO TAXONÓMICO"].value_counts()
specimens_count_df = pd.DataFrame(specimens_count).reset_index()
specimens_count_df.columns = ['species','requests']
specimens_count_df.to_csv('specimes_requests.csv',index=False)

## Money

In [6]:
money = df_copy.copy()

In [346]:
money

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
0,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
1,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
2,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
3,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
4,2021,CORTOLIMA,UNVERSIDAD DEL TOLIMA,Persona jurídica,Omar A. Mejía Patiño,Permiso / Autoridad Ambiental diferente a ANLA,Resolución 3758 de 2016,2016-11-16T00:00:00.000,120.0,Científica estudios ambientales,...,1.0,0.090,1,Individuo,"$ 10,903.00","$ 29,530.00",$ 981.00,No,No registra,$ 981.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,2020,CORTOLIMA,Martha Ortiz Prada,Persona natural,NaN,Infractor,SAN-01716,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1522,2020,CORTOLIMA,Fernando Aurelio Acevedo Marin,Persona natural,NaN,Infractor,SAN-01720,No registra,0.0,Comercial,...,1.0,3.840,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 74,113.00",No registra,No registra,$ - 0
1523,2020,CORTOLIMA,Aura Maria Serrano Cuadrado,Persona natural,NaN,Infractor,SAN-02011,No registra,0.0,Comercial,...,1.0,3.840,2,Individuo,"$ 11,318.00","$ 30,652.00","$ 117,574.00",No registra,No registra,$ - 0
1524,2021,SDA,Universidad Militar Nueva Granada,800225340-8,No reporta,Permiso / ANLA,Resolución No. 1271,2014-10-23T00:00:00.000,120.0,Científica no comercial,...,1.0,0.015,4,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,331.00",No,No registra,"$ 31,331.00"
1525,2022,SDA,Universidad Industrial de Santander,890201213-4,No reporta,Permiso / ANLA,Resolución No. 47,2015-01-22T00:00:00.000,120.0,Científica no comercial,...,1.0,0.080,1,Individuo,"$ 11,318.00","$ 30,652.00","$ 31,557.00",No,No registra,"$ 31,557.00"

In [347]:
test = money[money["RECAUDO"] == "Pendiente"]

test

,Año,Autoridad Ambiental,NOMBRE/RAZÓN SOCIAL,PERSONA NATURAL O JURÍDICA,REPRESENTANTE LEGAL,TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA,No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO,FECHA DE OTORGAMIENTO,VIGENCIA (meses),TIPO DE CAZA,...,COEFICIENTE DE VALORACIÓN \n(V),FACTOR REGIONAL (FR),No. ESPECÍMENES O MUESTRAS (Es),UNIDAD DE Es,TARIFA MÍNIMA (TM),COSTO DE IMPLEMENTACIÓN (CI),MONTO A PAGAR (MP),RECLAMACIONES,MP DESPUÉS DE RECLAMACIÓN,RECAUDO
918,2018,CORPOGUAJIRA,ECOPLANET LTDA,Persona jurídica,Luz Elena Suárez,Permiso / ANLA,Resolución No. 00885 de 2017,No registra,0.0,Científica estudios ambientales,...,1.0,0.48,27,Individuo,"$ 10,903.00","$ 29,530.00","$ 170,833.00",No registra,No registra,Pendiente
920,2018,CORPOGUAJIRA,Carbones del Cerrejón Limited,Persona jurídica,Jaime Brito Lallemand,Permiso / Autoridad Ambiental diferente a ANLA,Resolución No. 1289,2012-09-11T00:00:00.000,60.0,Científica estudios ambientales,...,1.0,0.09,7261,Individuo,"$ 10,903.00","$ 29,530.00","$ 7,334,339.00",No registra,No registra,Pendiente
921,2018,CORPOGUAJIRA,Renovatio Group Limited.,Persona jurídica,Juan Pablo Orozco Velasquez,Permiso / Autoridad Ambiental diferente a ANLA,Resolución No. 920,2017-05-25T00:00:00.000,24.0,Científica estudios ambientales,...,1.0,0.48,45,Individuo,"$ 10,903.00","$ 29,530.00","$ 1,709,464.00",No registra,No registra,Pendiente
922,2018,CORPOGUAJIRA,Renovatio Group Limited.,Persona jurídica,Juan Pablo Orozco Velasquez,Permiso / Autoridad Ambiental diferente a ANLA,Resolución No. 1808,2018-08-14T00:00:00.000,24.0,Científica estudios ambientales,...,1.0,0.48,8,Individuo,"$ 10,903.00","$ 29,530.00","$ 71,398.00",No registra,No registra,Pendiente

In [349]:
money["RECAUDO"] = money["RECAUDO"].str.replace("$", "")
money["RECAUDO"] = money["RECAUDO"].str.replace("No registra", "0")
money["RECAUDO"] = money["RECAUDO"].str.replace(",", "")
money["RECAUDO"] = money["RECAUDO"].str.replace("Pendiente", "0")
money["RECAUDO"] = money["RECAUDO"].str.replace("    - 0", "0")
money["RECAUDO"] = money["RECAUDO"].str.replace(" ", "")

In [350]:
test = money[money["RECAUDO"] == "    - 0"]

test

Empty DataFrame
Columns: [Año, Autoridad Ambiental, NOMBRE/RAZÓN SOCIAL, PERSONA NATURAL O JURÍDICA, REPRESENTANTE LEGAL, TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA, No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO, FECHA DE OTORGAMIENTO, VIGENCIA (meses), TIPO DE CAZA, VALOR TIPO DE CAZA, ESPECIE O GRUPO TAXONÓMICO, ORDEN, CLASE, No. INDIVIDUOS y/o MUESTRAS APROBADOS, DEPARTAMENTO, MUNICIPIO, No. CERTIFICADO SiB, ESTADO DE CONSERVACIÓN DE LA ESPECIE, ESTADO DE CONSERVACIÓN DEL HÁBITAT, PRESIÓN POR USO, COEFICIENTE BIÓTICO (Cb), NACIONALIDAD (N), GRUPO TRÓFICO (Gt), COEFICIENTE DE VALORACIÓN
(V), FACTOR REGIONAL (FR), No. ESPECÍMENES O MUESTRAS (Es), UNIDAD DE Es, TARIFA MÍNIMA (TM), COSTO DE IMPLEMENTACIÓN (CI), MONTO A PAGAR (MP), RECLAMACIONES, MP DESPUÉS DE RECLAMACIÓN, RECAUDO]
Index: []

[0 rows x 34 columns]

In [351]:
money["RECAUDO"] = money["RECAUDO"].astype(float)

In [352]:
money.dtypes

Año                                                 int64
Autoridad Ambiental                                object
NOMBRE/RAZÓN SOCIAL                                object
PERSONA NATURAL O JURÍDICA                         object
REPRESENTANTE LEGAL                                object
TIPO DE AUTORIZACIÓN / ENTIDAD QUE OTORGA          object
No. PERMISO/ LICENCIA AMBIENTAL/ SANCIONATORIO     object
FECHA DE OTORGAMIENTO                              object
VIGENCIA (meses)                                  float64
TIPO DE CAZA                                       object
VALOR TIPO DE CAZA                                float64
ESPECIE O GRUPO TAXONÓMICO                         object
ORDEN                                              object
CLASE                                              object
No. INDIVIDUOS y/o MUESTRAS APROBADOS              object
DEPARTAMENTO                                       object
MUNICIPIO                                          object
No. CERTIFICADO SiB                                object
ESTADO DE CONSERVACIÓN DE LA ESPECIE               object
ESTADO DE CONSERVACIÓN DEL HÁBITAT                 object
PRESIÓN POR USO                                    object
COEFICIENTE BIÓTICO (Cb)                            int64
NACIONALIDAD (N)                                    int64
GRUPO TRÓFICO (Gt)                                float64
COEFICIENTE DE VALORACIÓN \n(V)                   float64
FACTOR REGIONAL (FR)                              float64
No. ESPECÍMENES O MUESTRAS (Es)                     int64
UNIDAD DE Es                                       object
TARIFA MÍNIMA (TM)                                 object
COSTO DE IMPLEMENTACIÓN (CI)                       object
MONTO A PAGAR (MP)                                 object
RECLAMACIONES                                      object
MP DESPUÉS DE RECLAMACIÓN                          object
RECAUDO                                           float64
dtype: object

In [353]:
money.to_csv("money.csv", index=False)

## =============== RECAUDO TOTAL ===============

In [354]:
money["RECAUDO"].sum()

36434943.120000005

### ===============================================

In [356]:
money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.lower()

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.strip()

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace(p_parentheses,'',regex=True)

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace("  ",' ',regex=True)

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace("psocoptera fam:",'',regex=True)

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace("psocoptera fam :",'',regex=True)

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace("psocidia-psocoptera fam:",'',regex=True)

money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace("vertebrados",'vertebrado',regex=True)
money["ESPECIE O GRUPO TAXONÓMICO"] = money["ESPECIE O GRUPO TAXONÓMICO"].str.replace("invertebrados",'invertebrado',regex=True)

## =============== RECAUDO POR ESPECIE ===============

In [357]:
specimens_money = money.groupby("ESPECIE O GRUPO TAXONÓMICO")["RECAUDO"].sum().reset_index()
specimens_money.sort_values(by="RECAUDO",ascending=False).head(7)

    ESPECIE O GRUPO TAXONÓMICO     RECAUDO
580   pristimantis dorsopictus  2669055.00
224      dendrobates truncatus  1564509.20
647            serinus canaria  1184316.00
140     carollia perspicillata   780000.16
113       brotogeris jugularis   720755.64
584     pristimantis permixtus   597590.40
595    pristimantis uranobates   597590.40

### ===============================================

In [7]:
conservation_money = money.groupby("ESTADO DE CONSERVACIÓN DE LA ESPECIE")["RECAUDO"].sum().reset_index()
conservation_money.sort_values(by="RECAUDO",ascending=False).head(7)

,ESTADO DE CONSERVACIÓN DE LA ESPECIE,RECAUDO
4,No registra,Pendiente$ - 0PendientePendientePendiente$ ...
1,Datos insuficientes (DD) o especies No evaluad...,$ 981.00$ 981.00$ 981.00$ 981.00$ ...
2,E,"$ 488,937.60$ 597,590.40$ 27,163.20$ ..."
0,Casi amenazada (NT),"$ 39,251.00$ 39,251.00$ - 0$ 21,73..."
6,Vulnerable (VU),"$ 26,167.00$ 52,334.00$ 104,669.00$ ..."
3,En Peligro (EN) o En Peligro Crítico (CR),"$ 11,278.00$ 211,873.00$ - 0$ 27,1..."
5,Preocupación menor (LC),"$ 1,963.00$ 4,074.00$ 5,233.00$ 5,..."